@{
    ViewData["Title"] = "Добави Автомобил";
}
<div class="container" style="margin-top:5%; margin-bottom:5%">
    <div class="d-flex justify-content-center h-100">
        <div class="card" style="height: auto">
            <div class="card-header">
                <h3>Добави Автомобил</h3>

            </div>
            <div class="card-body">
                <form asp-action="Cars" method="post">
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="product" name="product">

                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <textarea style="height: auto; width: 81%; resize: none;" placeholder=" description"
                                  name="description"></textarea>
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="price" name="price">
                    </div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="picture url" name="pictureUrl">
                    </div>

                    <input type="submit" value="Добави" class="btn float-right login_btn">
                </form>
            </div>
        </div>
    </div>
</div>